*{
    box-sizing: border-box;
}
h1{
    text-align: center;
}
ol{
    list-style-type: none;
}
a{
    text-decoration: none;
    color: black;
}
button{
    margin-left: 40px;
    width: 10%;
    height: 40px;
    border-radius: 5px;
    border: whitesmoke;
}
.container{
    margin: auto;
    max-width: 997px;
    line-height: 1.5;
}
.target{
    font-weight: bolder;
    font-size: 20px;
}
.picture{
    width: 450px;
}
button:hover{
    transform: scale(1.2);
    border: 1px solid black;
    background-color: white;
    transition: 1s;
}
i:hover{
    transform: scale(2);
}
