html,
body {
    width: auto !important;
    overflow-x: hidden !important;
}

* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: black;
}

h1 {
    text-align: center;
    color: black;
}

h2 {
    margin-left: 10px;
    font-size: 20px;
}

p {
    margin-top: 50px;
}

.md-radio {
    font-size: 25px;
}

.search {
    margin-right: 523px;
    margin-left: 7px;
    margin-top: 15px;
    width: 270px;
    border-radius: 2%;
    border: 1px solid ww;
}

.container {
    margin: auto;
    display: flex;
    flex-wrap: wrap;
}

.row {
    width: 1200px;
}

.picture {
    width: 270px;
    height: 270px;
    border-radius: 2% 2% 0 0;
    object-fit: cover;
}

.box {
    width: 270px;
    margin: 15px;
    background-color: white;
    border-radius: 2%;
    box-shadow: 0 2px 3px 1px rgb(0 0 0 / 15%);
}

.description {
    max-width: 100px;
    margin-left: 10px;
    margin-right: 10px;
}

.box:hover {
    transform: scale(1);
    transition: 1s;
    opacity: 1.0;
    filter: drop-shadow(5px 10px 5px gray);
}