*{
    box-sizing: border-box;
}

body{
    background-color: aqua;
}
.container{
    max-width: 500px;
    margin: auto;
}
.form{
    height: 300px;
    background-color: whitesmoke;
    padding-left: 10px;
    padding-right: 10px;
    justify-content: center;
}