*{
    box-sizing: border-box;
}

body{
    background-color: aqua;
}
.container{
    max-width: 500px;
    margin: auto;
    vertical-align: middle;
}
.form{
    height: 300px;
    max-width: 500px;
    background-color: whitesmoke;

}