*{
    box-sizing: border-box;
}

body{
    background-color: aqua;
}
.container{
    max-width: 500px;
    margin: auto;
    justify-content: center;
    display: flex;
}
.form{
    height: 300px;
    max-width: 500px;
    background-color: whitesmoke;
}