*{
    box-sizing: border-box;
}
body{
    background-color: aqua;
}
.nav {
    display: flex;
    list-style-type: none;
}
a{
    text-decoration: none;
    color: rgb(170, 170, 170);
}
.nav{
    background-color: blueviolet;
}
.nav li{
    padding: 20px;
}
.sub-menu{
    display: none;
    position: absolute;
    list-style-type: none;
}
.nav li:hover .sub-menu{
    display: block;
}