*{
    box-sizing: border-box;
}
body{
    background-color: aqua;
}
.nav {
    display: flex;
    list-style-type: none;
    text-decoration: none;
}
.nav li{
    padding: 20px;
}
.sub-menu{
    display: none;
    po
}.nav li:hover .sub-menu{
    display: block;
}