*{
    box-sizing: border-box;
}
body{
    background-color: aqua;
}
.container{
    max-width: 500px;
    margin: auto;
    display: flex;
}
.register{
    height: 550px;
    background-color: white;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
    border-radius: 10px;
}
.inputform > *{
    width: 90%;
    padding: 15px;
    margin: 10px;
    border-radius: 10px;
    background-color: whitesmoke;
    border: whitesmoke solid 2px;
}
#submit{
    width: 90%;
    padding: 15px;
    margin: 10px;
    border-radius: 10px ;
    background-color: greenyellow;
    color: white;
    border: none;
}
.inputform > *:hover{
    width: 90%;
    padding: 15px;
    margin: 10px;
    border-radius: 10px;
    border: 2px solid greenyellow;
}
