*{
    box-sizing: border-box;
}
.container{
    margin: auto;
    max-width: 996px;
    display: flex;
    flex-wrap: wrap;
}
.box{
    margin: 15px;
    border: 1px solid black;
}
a{
    text-decoration: none;
    color: black;
}