*{
    box-sizing: border-box;
}
h1{
    text-align: center;
}
h2{
    margin-left: 10px;
}
.container{
    margin: auto;
    max-width: 996px;
    display: flex;
    flex-wrap: wrap;
}
.box{
    margin: 15px;
    /* border: 1px solid gray; */
    background-color: whitesmoke;
    border-radius: 2%;
    box-shadow: 0 2px 3px 1px rgb(0 0 0 / 15%);
}

a{
    text-decoration: none;
    color: black;
}
.picture{
    width: 300px;
    border-radius: 2% 2% 0 0 ;
}
.description{
    max-width: 280px;
    margin-left: 10px;
    margin-right: 10px;
    w: 2;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}