*{
    box-sizing: border-box;
}
.container{
    margin: auto;
    max-width: 1000px;
    display: flex;
    flex-wrap: wrap;
}
.box{
    margin: 16px;
}
a{
    text-decoration: none;
    color: black;
}